main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 1em;

  .catalogue {
    // background-color: #f0f0f0;
    padding: 1em;
  }

  .pagination {
    // background-color: #e0e0e0;
    padding: 1em;
    text-align: center;
  }
}
// $body-bg-dark: #ff0000;
nav {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 10px 20px;
  gap: 20px;
  background-color: $body-bg;
  @media (prefers-color-scheme: dark) {
    background-color: $body-bg-dark;
  }
  padding: 1em;
  margin-top: 50px;
}

.nav {
  &-header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
  &-hitem {
    justify-self: center;
  }

  &-title-link {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin-bottom: 2em;
    text-decoration: none;
  }
  &-title {
    margin: 0;
    font-size: 1.5em;
    color: $default-color;
    @media (prefers-color-scheme: dark) {
      color: $default-color-dark;
    }

    &:hover,
    &:focus {
      opacity: 0.6;
    }
  }
  &-list {
    // grid-column: 2/3;
    display: grid;
    grid-auto-flow: column;
    list-style-type: none;
    gap: 1em;
    justify-self: end;
    padding: 0;
    margin: 0;
  }
  &-item {
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
    white-space: nowrap;
  }

  &-item a {
    text-decoration: none;

    color: $default-color;
    @media (prefers-color-scheme: dark) {
      color: $default-color-dark;
    }
    font-size: 1em;
    &:hover {
      opacity: 0.6;
    }
  }
  &-logo {
    max-width: 75px;
    margin-left: 10px;
  }
}

@media (max-width: 640px) {
  .nav {
    &-title-link {
      margin-bottom: 1em;
    }
    &-container {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      text-align: center;
    }
    &-description {
      display: none;
    }
    &-list {
      grid-template-columns: 1fr;
      justify-content: center;
      justify-self: center;
      align-items: center;
      gap: 0.5em;
      padding: 0;
      margin: 0;
    }
    &-item {
      text-align: center;
    }
  }
}

footer {
  background-color: $body-bg;
  @media (prefers-color-scheme: dark) {
    background-color: $body-bg-dark;
  }
  padding: 1em;
  text-align: center;
}
