---
layout: default
---

<div class="banner">ბანერი</div>
{{ content }}

<section class="articles">
  <article class="article">
    <img src="logo.webp" alt="სურათი 1" />
    <div class="article-content">
      <h2>არტიკლის სათაური 1</h2>
      <p>ეს არის ტექსტი პირველი არტიკლისთვის.</p>
    </div>
  </article>
  <article class="article">
    <img src="logo_dark.webp" alt="სურათი 2" />
    <div class="article-content">
      <h2>არტიკლის სათაური 2</h2>
      <p>ეს არის ტექსტი მეორე არტიკლისთვის.</p>
    </div>
  </article>
  <!-- შეგიძლიათ დაამატოთ მეტი არტიკლი -->
</section>
